/*----- CSS Geral -----*/

body{
    font-family : "Helvetica Neue", sans-serif;
    color: #fff;
}

.clear{
    clear: both;
}
.content{
    width: 96%;
    margin: 0 auto;
}
.fa-facebook:hover{
    color: #3A5795;
}
.fa-twitter:hover{
    color: #54ABEC;
}
.fa-github:hover{
    color:#4078C0;
}
.fa-google-plus:hover{
    color: #DB4437;
}
.fa-instagram:hover{
    color:#BF8360;
}
/*----- Fim CSS Geral -----*/

/*----- Header -----*/
header{
    width: 100%;
    background-color: #2C3E50;

}
header h1{
    font-size: 1.2em;
    width: 93%;
    float: left;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
}
header .cor-logo{
    color: #E87E04;
}
header .content{
    padding-left:10px;
    padding-right: 15px;
}
header .menu-mobile{
    width: 7%;
    float: right;
    text-align: right;
    font-size: 1.7em;
    padding-top: 10px;
    cursor: pointer;
}
header .menu-mobile:hover{
    color:#E87E04;
}
.menu ul li{
    font-size: 0.8em;
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px solid #D35400;
}
.menu ul li:nth-of-type(1){
    border-top: none;
}
.menu ul li:hover{
    color: #fff;
    background-color: #E87E04;
}
header .menu{
    text-align: center;
    width: 100%;
    display: none;
}
/*----- Fim Header -----*/
/*----- Banner -----*/
main{
    margin-top: 5px;
}
.banner .content{
    height: 200px;
    background-color: #ccc;
}
/*----- Fim Banner -----*/
/*----- Articles -----*/
.conteudo .content{
    width: 92%;
}
main .conteudo h2{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2em;
    color: #2C3E50;
    border-top: 4px solid #D35400;
    padding-top: 10px;
    width: 100%;
}
main .conteudo p{
    text-align: justify;
    font-size: 0.9em;
    padding-top: 30px;
    color: black;
    width: 100%;
    line-height: 1.6em;
}
main .conteudo button{
    margin-top: 20px;
    background-color: #D35400;
    color: #fff;
    width: 20%;
}
main .conteudo{
    background-color: #fff;
    margin-bottom: 30px;
}

main .conteudo i{
    padding-right: 3%;
    color: #2C3E50;

}
/*----- Fim Article -----*/
/*----- Contato -----*/
.dados{
    background-color: #2C3E50;
    color: #fff;
}
.contato{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
.contato h2{
    margin-bottom: 20px;
}
.contato .number-phone{
    font-size: 1.3em;
    padding-bottom: 20px;
    display: block;
}
.contato .number-phone i{
    margin-right:10px;
}
article .social-icons{
    text-align: center;
}
.social-icons i{
    font-size: 2em;
    cursor: pointer;
    margin-right: 5%;

}
.social-icons i:nth-of-type(3){
    margin-right: 0;
    padding-right: 0;
}
/*----- Fim Contato -----*/
/*----- informações -----*/
.informacoes{
    background-color: #2C3E50;
}

.orcamento .content{
    width: 92%;
    border-top: 2px solid #6C7A89;
    padding-top: 20px;
}
.orcamento form label{
    text-align: center;
    width: 100%;
}
.orcamento .content input{
    width: 100%;
    background-color: #2C3E50;
    border-radius: 10px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    margin-bottom: 30px;
    padding: 5px 0 5px 0;
}
.orcamento .content input[type="submit"]{
    background-color: #fff;
    color:   #2C3E50;
    width: 30%;
    border-radius: 10px;
    font-weight: 700;

}
.orcamento .content input[type="file"]{
    text-align: left;
    width: 100%;
    display: block;
}
.orcamento textarea{
    width: 100%;
    background-color: #2C3E50;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    text-align: left;
    margin-bottom: 30px;
    padding: 5px 0 5px 0;
    resize: none;
}
.orcamento h2{
    text-align: center;
    font-size: 1.4em;
}
.orcamento p{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 15px;
}
/*----- Fim informações -----*/
/*----- Rodapé -----*/
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #000;
}
footer p{
    width:100%;
    text-align: center;
    margin-bottom: 10px;
}
.dev-icons{
    width: 100%;
    text-align: center;
}
.dev-icons i{
    font-size: 1.6em;
    margin-left: 10px;
}
.dev-icons i:nth-of-type(1){
    margin-left: 0;
}
/*----- Fim Rodapé -----*/
/*----- Equipe -----*/
.advogado{
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #6C7A89;
    padding-bottom: 30px;
}
.advogado:last-child{
    border-bottom: none;
}
.imagem-advogado{
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
.advogado p{
    width: 100%;
    color: #2C3E50;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*----- Fim Equipe -----*/
/*----- Escritorio -----*/
.escritorio .imagem-escritorio{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    background-color: #ccc;
}
.sobre p{
    padding-top: 10px;
    text-align: justify;
    font-size: 0.8em;
    margin-bottom: 20px;
}
.escritorio iframe{
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.escritorio p{
    color: #2C3E50;
    font-size: 1.2em;
}
.escritorio h2{
    border-top: 2px solid #6C7A89;
    padding-top: 20px;
    color: #2C3E50;
    margin-bottom: 20px;
}
.escritorio i{
    padding-left: 10px;
}
.local{
 margin-bottom: 20px;
}


/*----- Fim Escritorio -----*/
