/*----- CSS Geral -----*/

body{
    font-family : "Helvetica Neue", sans-serif;
    color: #fff;
}

.clear{
    clear: both;
}
.content{
    width: 96%;
    margin: 0 auto;
}
/*----- Fim CSS Geral -----*/

/*----- Header -----*/
header{
    width: 100%;
    background-color: #2C3E50;
}
header h1{
    font-size: 1.2em;
    width: 93%;
    float: left;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
}
header .cor-logo{
    color: #E87E04;
}
header .content{
    padding-left:10px;
    padding-right: 15px;
}
header .menu-mobile{
    width: 7%;
    float: right;
    text-align: right;
    font-size: 1.7em;
    padding-top: 10px;
    cursor: pointer;
}
header .menu-mobile:hover{
    color:#E87E04;
}
.menu ul li{
    font-size: 0.8em;
    width: 100%;
    padding: 10px 0 10px 0;
    border-top: 1px solid #D35400;
}
.menu ul li:nth-of-type(1){
    border-top: none;
}
.menu ul li:hover{
    color: #fff;
    background-color: #E87E04;
}
header .menu{
    text-align: center;
    width: 100%;
    display: none;
}
/*----- Fim Header -----*/
/*----- Banner -----*/
main{
    margin-top: 5px;
}
.banner .content{
    height: 200px;
    background-color: #ccc;
}
/*----- Fim Banner -----*/
/*----- Articles -----*/
.conteudo .content{
    width: 92%;
}
main .conteudo h2{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2em;
    color: #2C3E50;
    border-top: 4px solid #D35400;
    padding-top: 10px;
    width: 100%;
}
main .conteudo p{
    text-align: justify;
    font-size: 0.9em;
    padding-top: 30px;
    color: black;
    width: 100%;
}
main .conteudo button{
    margin-top: 20px;
    background-color: #D35400;
    color: #fff;
    width: 20%;
}
main .conteudo{
    background-color: #fff;
}

/*----- Fim Article -----*/



